.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/* Sidebar Styles */

.logo {
  padding: 16px 0;
  font-weight: bold;
  font-size: 24px;
  color: #0d554c;
}

.menu-toggle-btn {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.header {
  background: white;
  padding-left: 16px;
}


.sidebar:hover {
  cursor: pointer;
}

.menu-label {
  margin-left: 8px;
}

.ant-menu-item-selected {
  background-color: #8cd5bf !important; 
}


.ant-menu-item-selected .anticon {
  color: #116B5F !important;
}

/* Login.css */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.icon {
  display: block;
  margin-top: 20px;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  object-fit: contain;
}


